.block-preview-message {
  background-color: #eef7feff;
  border: 1px dashed #cce4ff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
}

.preview-map-placeholder {
  background-color: #ddedfb;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #f70;
}
