body.login {
  background: #fff url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login h1 a {
background-image: url('../images/login-logo.png');
background-size: 300px 46px;
width: 300px;
height: 46px;
}

#login {
padding: 30px 0 0;
}

.login form {
margin-left:auto;
margin-right:auto;
padding:30px;
border: 1px solid #99061a;
background: rgba(255 255 255, 90%);
background-clip: padding-box;
box-shadow: 0 0 13px 3px rgba(0 0 0,50%);
overflow: hidden;
}

.login label {
color: #333;
line-height: 26px;
}

.login .button-primary {
background-color:#fb0d2e !important;
border-color: #fb0d2e !important;
width: 120px;
float:right;
color: #fff;
}

.login .button-primary:hover {
background-color:#99061a !important;
color: #fff;
}

.login .button-primary:active {
background-color:#fb0d2e !important;
color: #fff;
}

#backtoblog { display:none !important; }
