.testimonials-slider-block{
background: linear-gradient(180deg,  #EEF7FE 0%,  #FFF 100%);
position: relative;

&::before {
	content: '';
	position: absolute;
	top: -42px;
	left: 0;
	width: 100%;
	height: 84.95px;
	background-image: url('./wave-light.svg');
}
}

.testimonials-slider-block-header {
	display: flex;
	gap: 1.5rem;
	margin-bottom: 2rem;
	justify-content: end;

	.section-title {
		text-align: right;
		max-width: 330px;
	}

	img {
		width: 150px;
	}
}

.testimonials-slider .swiper-slide {
    height: 200px;
}

.testimonial-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-header {
    margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.testimonial-card:hover {
    box-shadow: 0 8px 24px rgb(0 0 0 / 12%);
}

.testimonial-logo {
    height: 56px;
	width: 56px;
	border-radius: 56px;
background-color: #e3e5ffff;
    display: flex;
    align-items: center;
    justify-content: center;
	overflow: hidden;
	padding: 5px;
	flex: 0 0 auto;
}

.testimonial-logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.testimonial-content {
    margin-bottom: 20px;
}

.testimonial-content p {
    margin-top: 0;
    text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}


.testimonial-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 0;
}

/* Responsive adjustments */
@media (width <= 767px) {
	.testimonials-slider.swiper {
		padding: 0 1.5rem;
	}

	.testimonials-slider-block-header {
		flex-direction: column-reverse;
		align-items: end;

		img {
		width: 100px;
	}
	}
}
