/* Error: There is no module with the namespace "map".
 *    ,
 * 16 |     padding-top: map.get($spacings, "component-md");
 *    |                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/layout/_layout.scss 16:18  @import
 *   scss/style.scss 24:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "map".\a    \2577 \a 16 \2502      padding-top: map.get($spacings, "component-md");\a    \2502                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/layout/_layout.scss 16:18  @import\a   scss/style.scss 24:9            root stylesheet';
}
