.timeline-block {
  margin-bottom: 150px;

  .timeline-steps {
    display: grid;
    grid-template-rows: repeat(5, 200px);
    margin-bottom: 100px;
  }

  .item-1 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .item-2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .item-3 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .item-4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .item-5 {
    grid-area: 5 / 2 / 6 / 3;
  }

  .item {
    position: relative;

    .timeline-count {
      position: absolute;
      width: 56px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      font-family: Sora, sans-serif;
      font-weight: 700;
      font-size: 1.75rem;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        z-index: -1;
        background-image: url("./step.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0.25rem;
        height: 145px;
        top: 56px;
        left: 50%;
        border: 2px dashed #ff8e38ff;
        z-index: -2;
      }
    }

    &:nth-child(odd) {
      justify-self: start;
      margin-left: 106px;

      .timeline-count {
        top: 50%;
        left: -33.5%;
      }
    }

    &:nth-child(even) {
      justify-self: end;
      margin-right: 106px;

      .timeline-count {
        top: 50%;
        right: -33.5%;
      }
    }

    &:last-child .timeline-count::after {
      height: 200px;
    }
  }

  .timeline-step {
    border-radius: 1rem;
    box-shadow: 0 6px 16px 0 rgb(44 93 133 / 15%);
    min-height: 270px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    background: #fff;
    width: 400px;
  }

  .timeline-step-header {
    padding: 1.5rem;
  }

  .timeline-step-image {
    width: 24px;
    margin-bottom: 1rem;
  }

  .timeline-step-title {
    margin: 0;
  }

  .timeline-step-content {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    background-color: #eef7fe;
  }

  .timeline-files {
    margin: 0 auto;
    border-radius: 1rem;
    border: 4px solid #ff8e38;
    background: #fff;
    box-shadow: 0 6px 16px 0 rgb(44 93 133 / 15%);
    display: flex;
    width: 21.5rem;
    padding: 1rem 0.5rem 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    .timeline-file {
      flex: 1 1 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-direction: column;

      img {
        width: 48px;
      }

      .btn {
        width: 100%;
      }
    }
  }
}

@media (width <= 1023px) {
  .timeline-block {
    margin-bottom: 100px;

    .timeline-steps {
      display: block;
    }

    .item {
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 124px;

      .timeline-count {
        left: 45% !important;
        top: -85px !important;
        z-index: -1;

        &::after {
          height: 400px;
        }
      }

      &:last-child .timeline-count::after {
        height: 465px;
      }
    }
  }
}

@media (width >= 1024px) {
  .timeline-block {
    .timeline-steps {
      margin-bottom: 150px;
    }

    .item {
      &:nth-child(odd) {
        justify-self: start;
        margin-left: 50px;

        .timeline-count {
          top: 50%;
          left: -19.5%;
        }
      }

      &:nth-child(even) {
        justify-self: end;
        margin-right: 50px;

        .timeline-count {
          top: 50%;
          right: -19.5%;
        }
      }
    }
  }
}

@media (width >= 1440px) {
  .timeline-block {
    .item {
      &:nth-child(odd) {
        justify-self: start;
        margin-left: 106px;

        .timeline-count {
          top: 50%;
          left: -33.5%;
        }
      }

      &:nth-child(even) {
        justify-self: end;
        margin-right: 106px;

        .timeline-count {
          top: 50%;
          right: -33.5%;
        }
      }
    }
  }
}
