/* Mobile First - Base styles (576px and below) */
.features-block {
  margin-top: 0;
}

.feature-card {
  position: relative;
  background: linear-gradient(180deg, #eef7fe -6.96%, #fff 100%);
  box-shadow: 0 6px 16px rgb(44 93 133 / 15%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: center;
  text-align: center;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 1rem;

  &::after,
  &::before {
    display: none;
  }

  .feature-icon {
    flex-shrink: 0;
    margin-bottom: 0;
    width: 64px;
  }

  .feature-description {
    margin: 0;
  }

  .feature-title {
    margin-top: 0;
  }
}

.features-block .col {
  transform: translate(0, 0);
}

.features-block .col:nth-child(even) {
  transform: translate(0, 0);
}

/* Tablet styles (577px to 768px) */
@media screen and (width >= 577px) {
  .feature-card {
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    text-align: left;
    height: 272px;
    margin-bottom: 4rem;
    border-radius: 0;

    &::after {
      content: "";
      position: absolute;
      left: 98%;
      top: 0;
      width: 117px;
      height: 100%;
      background-image: url("./arrow.svg");
      background-repeat: no-repeat;
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      height: 100%;
      background: linear-gradient(180deg, #eef7fe -6.96%, #fff 100%);
      width: 1000px;
      box-shadow: -11px 6px 16px rgb(44 93 133 / 15%);
      display: block;
    }
  }

  .features-block .col {
    transform: translate(-117px, 0);
  }

  .features-block .col .feature-card {
    padding-left: 117px;
  }

  .features-block .col:nth-child(even) {
    transform: translate(117px, 0);
  }

  .features-block .col:nth-child(even) .feature-card {
    flex-direction: row-reverse;
    padding-left: 1.5rem;
    padding-right: 117px;

    &::after {
      right: 98%;
      left: inherit;
      background-image: url("./arrow-left.svg");
    }

    &::before {
      left: 100%;
      top: 0;
      box-shadow: 13px 6px 16px rgb(44 93 133 / 15%);
    }
  }
}


/* Desktop styles (1024px and above) */
@media screen and (width >= 1024px) {
  .features-block {
    margin-top: 100px;
  }

  .features-block .col {
    transform: translate(0, 0);
  }

  .features-block .col .feature-card {
    padding-left: 1.5rem;
  }

  .features-block .col:nth-child(even) {
    transform: translate(20%, -50%);
  }

  .features-block .col:nth-child(even) .feature-card {
    padding-left: 1.5rem;
    padding-right: 79px;
  }
}
