@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";

.page_contact {
  .form-wrapper {
    max-width: 40rem;
    margin: 0 auto map.get($spacings, "component-lg");
  }

  &_cards {
    display: flex;
    justify-content: center;
    gap: map.get($spacings, "component-md");
    flex-wrap: wrap;
    margin-bottom: map.get($spacings, "component-lg");
    .card--contact {
      flex: 1 1 auto;
      max-width: auto;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 0 -25px;

      @include respond-to(md) {
        flex: 1 1 calc(50% - map.get($spacings, "component-md"));
        max-width: calc(50% - map.get($spacings, "component-md"));
      }

      &:first-child {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUzIiBoZWlnaHQ9IjIwNiIgdmlld0JveD0iMCAwIDU1MyAyMDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTQxLjk0NiAtOTkuMjAzMUwtMTUuNTk1MyAyOS4zOTA4Qy0xOS4yMTQzIDMxLjkzMDcgLTIyLjU3MDMgMzMuNDU0NyAtMjIuNTcwMyAzNy42MDMyTC0yMi41NzAzIDIxMy4wNzRDLTIyLjU3MDMgMjE4LjQwOCAtMTYuMzE5MSAyMjEuNDc3IC0xMS44NjY5IDIxOC4zMjNMMTQ1LjkxNiA4OS41NjE3TDU0MS42NiAzMDcuNDY3QzU0Ni4xMTMgMzEwLjYgNTUyLjM2MyAzMDcuNTUyIDU1Mi4zNjMgMzAyLjIxOEw1NTIuMzYzIDEzMS41OTZDNTUyLjM2MyAxMjcuMzYzIDU1My4wNDMgMTIzLjkxMyA1NDkuNiAxMjEuNDc5TDE1NS43NjUgLTk1LjA1MDJDMTUxLjA3MSAtOTguMzczNCAxNDYuODgxIC0xMDIuNjk2IDE0MS45NDYgLTk5LjIwMzFaIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXJfNzQxXzMyNjU1KSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzc0MV8zMjY1NSIgeDE9IjI2NS4xMzciIHkxPSIzMDguNzMiIHgyPSIyNjUuMTM3IiB5Mj0iLTQwLjMxNTIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0id2hpdGUiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRkZGNEVCIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==");
      }
      &:last-child {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUzIiBoZWlnaHQ9IjIwNiIgdmlld0JveD0iMCAwIDU1MyAyMDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTQxLjk0NiAtOTkuMjAzMUwtMTUuNTk1MyAyOS4zOTA4Qy0xOS4yMTQzIDMxLjkzMDcgLTIyLjU3MDMgMzMuNDU0NyAtMjIuNTcwMyAzNy42MDMyTC0yMi41NzAzIDIxMy4wNzRDLTIyLjU3MDMgMjE4LjQwOCAtMTYuMzE5MSAyMjEuNDc3IC0xMS44NjY5IDIxOC4zMjNMMTQ1LjkxNiA4OS41NjE3TDU0MS42NiAzMDcuNDY3QzU0Ni4xMTMgMzEwLjYgNTUyLjM2MyAzMDcuNTUyIDU1Mi4zNjMgMzAyLjIxOEw1NTIuMzYzIDEzMS41OTZDNTUyLjM2MyAxMjcuMzYzIDU1My4wNDMgMTIzLjkxMyA1NDkuNiAxMjEuNDc5TDE1NS43NjUgLTk1LjA1MDJDMTUxLjA3MSAtOTguMzczNCAxNDYuODgxIC0xMDIuNjk2IDE0MS45NDYgLTk5LjIwMzFaIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXJfNzQxXzMyNjU3KSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzc0MV8zMjY1NyIgeDE9IjI2NS4xMzciIHkxPSIzMDguNzMiIHgyPSIyNjUuMTM3IiB5Mj0iLTQwLjMxNTIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0id2hpdGUiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRERFREZCIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==");
      }

      i {
        font-size: 1.5rem;
        background-color: #782d12;
        color: transparent;
        text-shadow: 0px 1px 2px $color-secondary;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
      }
    }
  }
}
