@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";

.page_contact {
  .form-wrapper {
    max-width: 40rem;
    margin: 0 auto map.get($spacings, "component-lg");
  }

  &_cards {
    display: flex;
    justify-content: center;
    gap: map.get($spacings, "component-md");
    flex-wrap: wrap;
    margin-bottom: map.get($spacings, "component-lg");
    .card--contact {
      flex: 1 1 auto;
      max-width: auto;
      background-repeat: no-repeat;
      background-position: -29px -80px;

      @include respond-to(md) {
        flex: 1 1 calc(50% - map.get($spacings, "component-md"));
        max-width: calc(50% - map.get($spacings, "component-md"));
      }

      &:first-child {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTc2IiBoZWlnaHQ9IjQxMCIgdmlld0JveD0iMCAwIDU3NiA0MTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTY0Ljk0NiAxLjc5Njg5TDcuNDA0NzIgMTMwLjM5MUMzLjc4NTY1IDEzMi45MzEgMC40Mjk2NzYgMTM0LjQ1NSAwLjQyOTY3NiAxMzguNjAzTDAuNDI5NjY4IDMxNC4wNzRDMC40Mjk2NjcgMzE5LjQwOCA2LjY4MDk0IDMyMi40NzcgMTEuMTMzMSAzMTkuMzIzTDE2OC45MTYgMTkwLjU2Mkw1NjQuNjYgNDA4LjQ2N0M1NjkuMTEzIDQxMS42IDU3NS4zNjMgNDA4LjU1MiA1NzUuMzYzIDQwMy4yMThMNTc1LjM2MyAyMzIuNTk2QzU3NS4zNjMgMjI4LjM2MyA1NzYuMDQzIDIyNC45MTMgNTcyLjYgMjIyLjQ3OUwxNzguNzY1IDUuOTQ5NzRDMTc0LjA3MSAyLjYyNjYxIDE2OS44ODEgLTEuNjk1ODQgMTY0Ljk0NiAxLjc5Njg5WiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzE0OTVfNTE1MDcpIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXJfMTQ5NV81MTUwNyIgeDE9IjI4OC4xMzciIHkxPSI0MDkuNzMiIHgyPSIyODguMTM3IiB5Mj0iNjAuNjg0OCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSJ3aGl0ZSIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNGRkY0RUIiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K");
      }
      &:last-child {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTc2IiBoZWlnaHQ9IjQxMSIgdmlld0JveD0iMCAwIDU3NiA0MTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTY0Ljg2NCAyLjIwNTFMNy4zMjI2OSAxMzAuNzk5QzMuNzAzNjEgMTMzLjMzOSAwLjM0NzY0NSAxMzQuODYzIDAuMzQ3NjQ0IDEzOS4wMTFMMC4zNDc2MzYgMzE0LjQ4MkMwLjM0NzYzNiAzMTkuODE2IDYuNTk4OTEgMzIyLjg4NiAxMS4wNTExIDMxOS43MzJMMTY4LjgzNCAxOTAuOTdMNTY0LjU3OCA0MDguODc1QzU2OS4wMzEgNDEyLjAwOCA1NzUuMjgxIDQwOC45NiA1NzUuMjgxIDQwMy42MjZMNTc1LjI4MSAyMzMuMDA1QzU3NS4yODEgMjI4Ljc3MSA1NzUuOTYxIDIyNS4zMjEgNTcyLjUxOCAyMjIuODg3TDE3OC42ODMgNi4zNTc5NEMxNzMuOTg5IDMuMDM0ODEgMTY5Ljc5OSAtMS4yODc2NCAxNjQuODY0IDIuMjA1MVoiIGZpbGw9InVybCgjcGFpbnQwX2xpbmVhcl8xNDk1XzUxNTA4KSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzE0OTVfNTE1MDgiIHgxPSIyODguMDU1IiB5MT0iNDEwLjEzOSIgeDI9IjI4OC4wNTUiIHkyPSI2MS4wOTMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0id2hpdGUiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRERFREZCIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==");
      }

      i {
        font-size: 1.5rem;
        background-color: #782d12;
        color: transparent;
        text-shadow: 0px 1px 2px $color-secondary;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
      }
    }
  }
  .team-members {
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .wrapper {
      display: flex;
      gap: map.get($spacings, "component-md");
      width: calc(16.8125rem * 7);
      padding: 1rem 0 map.get($spacings, "component-lg") 0;
      .card.job-card {
        width: 16.8125rem;
      }
    }
  }
  .card--consultant {
    position: relative;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(
      180deg,
      $interface-color-background-primary 0%,
      $white-100 100%
    );
    transition: background 0.5s ease;

    &:hover {
      background: linear-gradient(180deg, $color-primary 0%, $primary-500 100%);
      .card--consultant_back {
        opacity: 1;
      }
      .card--consultant_footer {
        opacity: 0;
      }
      .card--consultant_img img {
        opacity: 0.18;
        mix-blend-mode: luminosity;
      }

      .card--consultant_link {
        i {
          background-color: inherit;
          color: #fff;
          text-shadow: inherit;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
        }
      }
    }

    .card--consultant_link {
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 2;
      i {
        font-size: 1.5rem;
        background-color: #782d12;
        color: transparent;
        text-shadow: 0px 1px 2px $color-secondary;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
      }
    }

    &_footer {
      background-color: #fff;
      padding: map.get($spacings, "component-sm")
        map.get($spacings, "component-md");
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 1;

      .b1 {
        margin-bottom: map.get($map: $spacings, $key: "component-xs");
      }
    }
    &_back {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: map.get($map: $spacings, $key: "component-md");
      color: $white-100;
      transition: opacity 1s ease;
      transition-delay: 0.2s;
    }
  }

  .gform_required_legend {
    display: none;
  }

  .gform_fields {
    display: flex;
    gap: map.get($spacings, "component-sm");
    flex-wrap: wrap;
  }
  .gfield--width-half {
    width: calc(50% - map.get($spacings, "component-sm") / 2);
  }

  .gfield--width-full,
  .gfield:not(.gfield--width-half) {
    width: 100%;
  }
}
