@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.home {
  .page-header {
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    //  justify-content: center;
    gap: 2rem;
    background-image: url("./images/heroHome.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 25%;
    text-align: center;

    @include respond-to(xs) {
      min-height: inherit;
    }
    .container {
      max-width: 52rem;
    }
    .page-title {
      text-align: center;
      font-size: $d1-size;
      font-weight: 800;
      line-height: 150%;
      letter-spacing: 0.08rem;
      margin-bottom: 3.9375rem;
      @include respond-to(xs) {
        font-size: $d1-size-mobile;
      }
    }

    .job-search-form {
      max-width: 29.5rem;
      margin: 0 auto;
    }

    img {
      max-width: 1000px;
      margin: 0 auto;

      @include respond-to(xs) {
        width: 100%;
      }
    }
  }
  .animation-wrapper {
    position: relative;
    width: 100%;
    max-width: 1140px;
    @include respond-to(md) {
      transform: translateY(-5rem);
      z-index: -1;
    }
  }
  .animation {
    width: 100%;
    margin: 0 auto;
  }
  .animation-pales {
    position: absolute;
    top: 0;
  }
}
