@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.home {
  .page-header {
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-image: url("./images/heroHome.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 25%;
    .container {
      max-width: 52rem;
    }
    .page-title {
      text-align: center;
      font-size: 4rem;
      font-weight: 800;
      line-height: 120%;
      letter-spacing: 0.08rem;
      margin-bottom: 3.9375rem;
    }

    .job-search-form {
      max-width: 29.5rem;
      margin: 0 auto;
    }

    img {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
