// Styles pour la page de listing des emplois
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";
.jobs-listing-page {
  .job-search-form {
    max-width: 500px;
  }
  .jobs-filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-md;
    align-items: center;
    @include respond-to(xs) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  // Grille des emplois
  .jobs-grid {
    display: grid;
    grid-template-columns: auto;
    gap: $spacing-lg;

    @include respond-to(sm) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: $spacing-xl;
    }

    @include respond-to(md) {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: $spacing-xl;
    }
  }

  // Pagination
  .jobs-pagination {
    ul.page-numbers {
      list-style: none;
      display: flex;
      gap: $spacing-md;
      padding: 0;
      margin: 0;
      align-items: center;
    }
    span.page-numbers {
      color: $color-primary-dark;
      text-decoration: none;
      border-radius: $border-radius-md;
      @include transition();
      width: 2rem;
      height: 2rem;
      display: block;
      text-align: center;
      line-height: 2rem;
      &:hover,
      &.current {
        background-color: $color-secondary;
        text-decoration: none;
        color: $white-100;
        border-radius: $border-radius-full;
      }
    }

    .prev,
    .next {
      font-weight: 600;
      background-color: $color-primary;
      text-decoration: none;
      color: $white-100;
      border-radius: $border-radius-full;
      width: 2rem;
      height: 2rem;
      display: block;
      text-align: center;
      line-height: 2rem;
    }

    .page-numbers.dots {
      border: none;
      background: none;
      cursor: default;

      &:hover {
        background: none;
        border: none;
        color: $color-primary-dark;
      }
    }
  }

  // Message "aucun emploi trouvé"
  .no-jobs-found {
    .alert {
      max-width: 600px;
      margin: 0 auto $spacing-lg auto;
    }

    h3 {
      color: $color-primary-dark;
      margin-bottom: $spacing-sm;
    }
  }
}
