/**
 * Styles pour les inputs
 */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";

// Mixin pour les styles d'input communs
@mixin input-styles {
  width: 100%;
  padding: $spacing-sm $spacing-md;
  font-size: $font-size-base;
  border: 3px solid $neutral-200;
  border-radius: $border-radius-full;
  background-color: $white-100;
  color: $color-text-primary;
  font-family: $font-main;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  box-shadow: none;
  @include transition();

  &::placeholder {
    color: $neutral-500;
    opacity: 1;
  }

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &:disabled {
    background-color: $neutral-100;
    cursor: not-allowed;
    color: $neutral-500;
  }
}

// Inputs standards - style de base
.input-base {
  @include input-styles;
}

// Application aux éléments
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"],
.input {
  @extend .input-base;
}

// États d'erreur et désactivé
.input--error {
  border-color: $color-danger;

  &:focus {
    box-shadow: 0 0 0 3px rgba($color-danger, 0.2);
  }
}

.input--disabled {
  background-color: $neutral-100;
  cursor: not-allowed;
  color: $neutral-500;
}

/* Styles pour Gravity Forms - Utilisation de sélecteurs plus spécifiques */
body .gform_wrapper .ginput_container_text input,
body .gform_wrapper .ginput_container_email input,
body .gform_wrapper .ginput_container_phone input,
body .gform_wrapper .ginput_container_password input,
body .gform_wrapper .gform-theme--framework .gfield input,
body .gform_wrapper.gravity-theme input[type="text"],
body .gform_wrapper.gravity-theme input[type="email"],
body .gform_wrapper.gravity-theme input[type="tel"],
body .gform_wrapper.gravity-theme input[type="url"],
body .gform_wrapper.gravity-theme input[type="password"],
body
  .gform_wrapper.gravity-theme
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
  @extend .input-base;
  border: 3px solid $neutral-200;
  border-radius: $border-radius-full;
  box-shadow: none;
}

.gfield {
  margin-bottom: $spacing-sm;
}

.gfield_label {
  font-size: $font-size-sm;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04375rem;
  margin-bottom: $spacing-xs;
  display: block;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  legend {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}

input[type="checkbox"] {
  // custom checkbox
  appearance: none;
  width: 1.3125rem;
  height: 1.3125rem;
  border: 1.5px solid $color-primary;
  border-radius: 0.375rem;
  background-color: $white-100;
  box-shadow: none;
  cursor: pointer;

  &:checked {
    background-color: $color-primary;
    border-color: $color-primary;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L4 8L11 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.gfield_checkbox > div,
.ginput_container_consent {
  display: flex;
  gap: map.get($spacings, "component-xs");
}

.ginput_container_consent input {
  flex: 1 0 auto;
}
