@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";
// Styles de base pour le thème enfant
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap");
// Reset et normalisation
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Typographie de base
body {
  font-family: $font-main;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text-primary;
  padding: 0;
  margin: map.get($spacings, "section-xs") 0 0 0;
  background: linear-gradient(
    180deg,
    $interface-color-background-primary 0%,
    #fff 31.37%
  );
}

// Titres
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: map.get($spacings, "component-md");
}

h1,
.h1 {
  font-size: $h1-size;
  @include respond-to(md) {
    font-size: $h1-size-mobile;
  }
}
h2,
.h2 {
  font-size: $h2-size;
  @include respond-to(md) {
    font-size: $h2-size-mobile;
  }
}
h3,
.h3 {
  font-size: $h3-size;
  @include respond-to(md) {
    font-size: $h3-size-mobile;
  }
}
h4,
.h4 {
  font-size: $h4-size;
  @include respond-to(md) {
    font-size: $h4-size-mobile;
  }
}
h5,
.h5 {
  font-size: $h5-size;
  @include respond-to(md) {
    font-size: $h5-size-mobile;
  }
}
h6,
.h6 {
  font-size: $h6-size;
  @include respond-to(md) {
    font-size: $h6-size-mobile;
  }
}

// Liens
a {
  color: $color-text-link;
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: $color-text-link-hover;
    text-decoration: underline;
  }
}

// Paragraphes
p {
  margin-bottom: $spacing-md;
}

// Listes
ul,
ol {
  margin-bottom: $spacing-md;
  padding-left: $spacing-lg;
}

// Images
img {
  max-width: 100%;
  height: auto;
}

// Boutons de base
button {
  @include button-style($color-secondary);

  &.btn-secondary {
    @include button-style($color-primary-dark);
  }

  &.btn-outline {
    background: transparent;
    color: $color-secondary;
    border: 2px solid $color-secondary;

    &:hover {
      background: $color-secondary;
      color: $white-100;
    }
  }
}
