.sectors-list__item {
	display: flex;
	align-items: center;
	padding: 12px 16px;
	border-bottom: 1px solid #eee;
	gap: 1.5rem;
	width: 100%;
	max-width: inherit;
	list-style: none;

}

.sectors-grid {
	padding: 3rem 0;
}
